fp-info-cache
datasheets/
Freya_SenseAndDrive_Cartridge.kicad_prl
manufacturing/
Freya_SenseAndDrive_Cartridge-backups/
*.step
*.FCBak
*.lck
*_autosave*
Documentation/*.wrl
Software/Client/Node/Library/build/
Software/Client/Node/Library/node_modules/
Software/Client/Node/Node-RED/build/
Software/Client/Node/Node-RED/node_modules/